body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(135deg, #89f7fe, #66a6ff);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dashboard-container {
    text-align: center;
    background: rgb(220, 218, 220);
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    width: 400px;
}

h1 {
    margin-bottom: 30px;
    color: #333;
}

.upload-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.upload-icon {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 15px;
    margin-bottom: 20px;
}

.upload-btn, .generate-btn {
    width: 200px;
    padding: 12px;
    margin: 10px;
    background-color: #66a6ff;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s;
}

.upload-btn:hover, .generate-btn:hover {
    background-color: #fa89fe;
}
